<app-nav></app-nav>

<div class="bg-white"
  style="margin-top:30px;margin-left: 20px;margin-right: 20px;margin-bottom: 30px; border-radius: 15px;padding: 20px;">
  <h6 style="text-align: center;">AI Article Summary Generator</h6>
  <p style="text-align: center;">AI Web app the help you generate short summary from the long text document or text
    using the pre built AI agents from the marketplace in just 3 steps.</p>
  <p style="text-align: center;" class="text-primary">Currently this app in free trial and will support upto 3000 chars file. </p>
  <div style="text-align: center;">
    <button mat-flat-button (click)="moveToTags()">Start Geneating Summary</button>
  </div>
</div>

<div class="row"
  style="margin-top:30px;margin-left:20px;margin-right: 20px;margin-bottom: 30px; border-radius: 15px;padding: 20px;">
  <div class="col-md-4">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header style="text-align: center;">
        <mat-card-subtitle>Chose the option</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image height="350px" src="images/choose.jpg" alt="">
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header style="text-align: center;">
        <mat-card-subtitle>Upload File</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image height="350px" src="images/upload.jpg" alt="">
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header style="text-align: center;">
        <mat-card-subtitle>Get Generated Summary</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image height="350px" src="images/generate.jpg" alt="">
    </mat-card>
  </div>
</div>
<div class="bg-white" id="tagsSection" style="margin-top:30px;margin-left: 20px;margin-right: 20px;margin-bottom: 30px; border-radius: 15px;padding: 20px;">
<app-tabs></app-tabs>
</div>

<div class="bg-white" style="margin-top: 20x;text-align: center;">
  
      © 2025 WEB app all rights reserved
</div>
